<!---Header/link panel--->
<header class="index-header">
  <h1><%= @author.name %></h1>
  <div class="links">
    <p class="link"><%= link_to 'Delete This Author', author_path(@author), method: :delete %></p>
  </div>
</header>

<!---Book Panels--->
<div class="container-fluid">
  <% @author.books.each do |book| %>
    <section class="row" id="book-<%=book.id%>">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong id="book-header"><%= link_to book.title, book_path(book) %></strong>
        </div>
        <div class="panel-body author-book-section">
          <div class="book-image .col-sm-4">
            <img class="index-cover" src=" <%= book.cover_image %>" alt=" <%= book.title %> image">
          </div>
          <div class="book-data .col-sm-4">
            <p>Length: <%= book.length %> </p>
            <p>Year: <%= book.year %> </p>
            <p><% if book.authors.count > 1 %> <h2>Co-Author(s):
              <% book.authors.each do |book_author| %></h2>
                  <h2><%= book_author.name  if @author.name != book_author.name%></h2>
              <% end %></p>
          <% end %>
          </div>
          <div class="top-review .col-sm-4">
            <% if book.reviews.count > 0 %> <h2> Highest Review:
              <% review = book.highest_review(book.reviews) %></h2>
              <h2>Title: <%= review.title %></h2>
              <h2>Description: <%= review.description %></h2>
              <h2>Rating: <%= review.rating %></h2>
              <h2>User: <a href=<%=user_path(review.user)%> ><%= review.user.name %></a></h2>
            <% else %> <h2> Be the first to <%= link_to 'review this book!', new_book_review_path(book) %></h2>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  <% end %>
</div>
