<h1><%= @author.name %></h1>

<% @author.books.each do |book| %>
  <h2>Title: <%= book.title %> </h2>
  <h2>Length: <%= book.length %> </h2>
  <h2>Year: <%= book.year %> </h2>

  <% if book.authors.count > 1 %> <h2>Co-Author(s):
    <% book.authors.each do |book_author| %></h2>
      <h2><%= book_author.name  if @author.name != book_author.name%></h2>
      <% end %>
  <% end %>

  <p><img src=" <%= book.cover_image %>" alt=" <%= book.title %> image"></p>
<% end %>
