<!---Header/link panel--->
<header class="index-header">
  <h1><%= @author.name %></h1>
  <div class="links">
    <p class="link"><%= link_to 'Delete This Author', author_path(@author), method: :delete %></p>
  </div>
</header>

<!---Book Panels--->
<div class="container-fluid">
  <% @author.books.each do |book| %>
    <section class="row" id="book-<%=book.id%>">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong id="book-header"><%= link_to book.title, book_path(book) %></strong>
        </div>
        <div class="panel-body author-book-section">
          <div class="book-image">
            <img class="index-cover" src=" <%= book.cover_image %>" alt=" <%= book.title %> image">
          </div>
          <div class="book-data">
            <p id="length-line">Length: <%= book.length %> </p>
            <p>Year: <%= book.year %> </p>
            <p><% if book.authors.count > 1 %> Co-Author(s):
              <% book.authors.each do |book_author| %>
                  <%= book_author.name  if @author.name != book_author.name%>
              <% end %></p>
          <% end %>
          </div>
          <div class="top-review">
            <h3> Highest Review: </h3>
            <% if book.reviews.count > 0 %>
              <% review = book.highest_review(book.reviews) %>
              <p>Title: <%= review.title %></p>
              <p>Description: <%= review.description %></p>
              <p>Rating: <%= review.rating %></p>
              <p>User: <a href=<%=user_path(review.user)%> ><%= review.user.name %></a></p>
            <% else %> <p> Be the first to <%= link_to 'review this book!', new_book_review_path(book) %></p>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  <% end %>
</div>
