<h1> <%= @user.name %></h1>

<h1>Reviews</h1>

<%= link_to 'Newest First', user_path(user: @user, sort: 'desc') %>
<%= link_to 'Oldest First', user_path(user: @user, sort: 'asc') %>

<% @reviews.each do |review| %>
  <section id="<%=review.title%>">
    <h2>Book: <%= link_to review.book.title, book_path(review.book) %></h2>
    <h2>Title: <%= review.title %> </h2>
    <h2>Description: <%= review.description %> </h2>
    <h2>Rating: <%= review.rating %> </h2>
    <h2>Review Date: <%= review.created_at %>
      <p><img src=" <%= review.book.cover_image %>" alt=" <%= review.book.title %> image"></p>
    <p><%= link_to 'Delete This Review', review_path(review: review), method: :delete %></p>
  </section>
<% end %>
