<!---Header/link panel--->
<header class="index-header">
  <h1><%=@user.name%>'s Reviews</h1>
  <div class="links">
    <div class="link"><%= link_to 'Newest First', user_path(user: @user, sort: 'desc') %></div>
    <div class="link"><%= link_to 'Oldest First', user_path(user: @user, sort: 'asc') %></div>
  </div>
</header>

<!---Book Reviews Panels--->
<div class="container-fluid">
  <% @reviews.each do |review| %>
    <section class="row" id="<%=review.title%>">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong id="book-header"><%= link_to review.book.title, book_path(review.book) %></strong>
        </div>
        <div class="panel-body author-book-section">
          <div class="book-image">
            <img class="index-cover" src=" <%= review.book.cover_image %>" alt=" <%= review.book.title %> image">
          </div>
          <div class="top-review">
            <h3> Review: </h3>
              <p>Title: <%= review.title %></p>
              <p>Description: <%= review.description %></p>
              <p>Rating: <%= review.rating %></p>
              <small>Written on <%= review.created_at.to_date.to_s %></small>
          </div>
        </div>
        <p class="delete-review"><%= link_to 'Delete This Review', review_path(review: review), method: :delete %></p>
      </div>
    </section>
  <% end %>
</div>
