<h1>All Books</h1>

<%= link_to 'Add a New Book', new_book_path %>

<% @books.each do |book| %>
<section id="book-<%=book.id%>">
  <h2>Title: <%= link_to book.title, book_path(book) %></h2>
  <h2>Length: <%= book.length %> </h2>
  <h2>Year: <%= book.year %> </h2>
  <h2>Author(s): <% book.authors.each do |author| %> </h2>
  <h2><a href=<%=author_path(author)%> ><%= author.name %></a></h2>
  <% end %>
  <p><img src=" <%= book.cover_image %>" alt=" <%= book.title %> image"></p>
</section>
<% end %>
