<!---Header/link panel--->
<header class="index-header">
  <h1><%= @book.title %></h1>
  <div class="links">
    <p class="link"><%= link_to 'Add a New Review', new_book_review_path(@book) %></p>
    <p class="link"><%= link_to 'Delete This Book', book_path(@book), method: :delete %></p>
  </div>
</header>

<!---Book Info Panel--->
<div class="col-sm-8">
  <div class="container-fluid">
    <section class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong id="book-header">Book Info</strong>
        </div>
        <div class="panel-body author-book-section">
          <div class="book-image">
            <img class="index-cover" src="<%= @book.cover_image %>" alt="<%= @book.title %> image">
          </div>
          <div class="top-review">
            <p>Length: <%= @book.length %> pages</p>
            <p>Publication Year: <%= @book.year %></p>
            <p>Author(s): <% @book.authors.each do |author| %> <br/><a href=<%=author_path(author)%>><%= author.name %></a><% end %></p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div>
    <div class="panel panel-default">
      <div class="panel panel-heading">
        <strong id="book-header">Book Reviews</strong>
      </div>
      <div>
        <% if @book.reviews.count > 0 %>
          <% @book.reviews.each do |review| %>
            <section class="book-review" id="review-<%=review.id%>">
              <p>Description: <%= review.title %> </p>
              <p>Review: <%= review.description %> </p>
              <p>Rating: <%= review.rating %> </p>
              <p>User: <a href=<%=user_path(review.user)%> ><%= review.user.name %></a></p>
            </section>
          <% end %>
        <% else %> <p id="link-message"> Be the first to <%= link_to 'review this book!', new_book_review_path(@book) %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!---Right-side Stats Panel--->
<div class="col-sm-4">
  <div class="panel panel-default">
    <div class="panel panel-heading">
      <strong id="book-header">Book Stats</strong>
    </div>
    <div class="panel panel-body">
      <footer class ="statistics-footer">
        <div class="statistics-column-1">
          <h4 class="column_title">Top Reviews for this Book</h4>
          <% @book.three_top_or_bottom_reviews("DESC").each do |top_review| %>
            <p>"<%= top_review.title %>"</p>
            <li>Rating: <%= top_review.rating %></li>
            <li>User: <%= link_to top_review.user.name, user_path(top_review.user) %></li><br/>
          <% end %>
        </div>
        <div class="statistics-column-2">
          <h4 class="column-title">Lowest reviews for this book:</h4>
          <% @book.three_top_or_bottom_reviews("ASC").each do |bottom_review| %>
            <p>"<%= bottom_review.title %>"</p>
            <li>Rating: <%= bottom_review.rating %></li>
            <li>User: <%= link_to bottom_review.user.name, user_path(bottom_review.user) %></li><br/>
          <% end %>
        </div>
        <div class="statistics-column-3">
          <h4 class="column-title">Average Rating for this Book:</h4>
          <p><%= @book.average_rating%></p>
        </div>
      </footer>
    </div>
  </div>
</div>

<!---Reviews Panel--->
