<h1> <%= @book.title %></h1>
<h2>Length: <%= @book.length %> </h2>
<h2>Year: <%= @book.year %> </h2>
<h2>Author(s): <% @book.authors.each do |author| %> <br/><a href=<%=author_path(author)%>><%= author.name %></a><% end %></h2>
<p><img src=" <%= @book.cover_image %>" alt=" <%= @book.title %> image"></p>

<h1>Reviews</h1>
<% @book.reviews.each do |review| %>
  <section id="review-<%=review.id%>">
    <h2>Description: <%= review.title %> </h2>
    <h2>Text: <%= review.description %> </h2>
    <h2>Rating: <%= review.rating %> </h2>
    <h2>User: <a href=<%=user_path(review.user)%> ><%= review.user.name %></a></h2>
  </section>
<% end %>

<%= link_to 'Add a New Review', new_book_review_path(@book) %>
<%= link_to 'Delete This Book', book_path(@book), method: :delete %>

<footer class ="statistics-footer">
  <div class="statistics-column-1">
    <h4 class="column_title">Top reviews for this book:</h4>
    <% @book.three_top_or_bottom_reviews("DESC").each do |top_review| %>
      <p><%= top_review.title %> <%= top_review.rating %> <%= top_review.user.name %></p>
    <% end %>
  </div>
  <div class="statistics-column-2">
    <h4 class="column-title">Lowest reviews for this book:</h4>
    <% @book.three_top_or_bottom_reviews("ASC").each do |bottom_review| %>
      <p>\n<%= bottom_review.title %> <%= bottom_review.rating %> <%= bottom_review.user.name %></p>
    <% end %>
  </div>
  <div class="statistics-column-3">
    <h4 class="column-title">Average Rating for this Book:</h4>
    <p><%= @book.average_rating%></p>
  </div>
</footer>
