</br>
</br>
</br>
</br>
<% if @review.errors %>
<ul id="errors">
  <% @review.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<%= form_for [@book, @review] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, required: true  %>

  <%= f.label :rating %>
  <%= f.number_field :rating, required: true  %>

  <%= f.label :description %>
  <%= f.text_field :description, required: true  %>

  <%= f.label :user %>
  <%= f.text_field :user, required: true %>

  <%= f.submit %>
<% end %>
